<div class="grid grid-flow-col grid-cols-1">
  <div class="my-64 h-64">
    <h1 class="text-center text-6xl">Server Error</h1>
    <h1 class="text-center">There was a problem with our application. We apologize for the inconvenience.</h1>
  </div>
</div>
