<div class="grid grid-flow-col grid-cols-1">
  <div class="my-64 h-64">
    <h1 class="text-center text-6xl">Not Found</h1>
    <h1 class="text-center">The page you were looking for was not found.</h1>
  </div>
</div>
