<div class="grid grid-flow-col grid-cols-1">
  <div class="my-64 h-64">
    <h1 class="text-center text-6xl">Not Accepted</h1>
    <h1 class="text-center">Your request was not accepted.</h1>
  </div>
</div>
