<!DOCTYPE html>
<html>
  <%= render "layouts/head" %>
  <body class="font-body text-gray-600" data-controller="icons">
    <main class="ft-main flex flex-col min-h-screen">
      <%= render "layouts/header" %>
      <%= yield %>
      <%= render "layouts/footer" %>
    </main>
  </body>
</html>
